:root {
  --color-white: #fff;
  --color-black: #black;
  --color-dark-grey: #10100e;
  --color-yellow: #ffff00;
  --color-blue: #6a83fb;
  --color-violet: #ae72c2;

  --theme-default-header: #cccc46;
  --theme-default-bgimage: url(../../src/static/bg.jpg);

  --text-shadow-yellow: 
      0 0 2px var(--color-white),
      0 0 40px var(--color-yellow);

      --text-shadow-blue: 
      0 0 2px var(--color-white),
      0 0 40px var(--color-blue);

  --spacing-medium: 20px;
  --spacing-large: 30px;

  --width-max: 1200px;

  --font-bold: 600;

  --font-family-main: sans-serif;

  --font-family-main: sans-serif;
  
  --font-size-header: 26px;
  --font-size-subheader: 18px;

  --border-radius-small: 3px;

  --transition: .4s;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-grey);
  font-family: var(--font-family-main);
  background-image: var( --theme-default-bgimage);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}

img{
  display: block;
}


.header_text {
  line-height: 1.7;
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var(--color-black);
  color: var(  --theme-default-header);
  transition: color var(--transition);
}
